<section  class="contact col-sm-12 col-md-12">
    <div class="container">

        <div class="section-title">
            <h2>Ask anything</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem
                hic quas.</p>
        </div>
    </div>

  

    <div class="container">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Nakuru</p>
                    </div>

                    <div class="email">
                        <i class="bi-envelope-fill"></i>
                        <h4>Email:</h4>
                        <p>wingdevelop@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi-phone-fill"></i>
                        <h4>Call:</h4>
                        <p>+254 737 8440 90</p>
                    </div>

                </div>

            </div>

            <div id="contact" class="col-lg-8 mt-5 mt-lg-0">

                <form method="post" class="custom-form">
                    
                    {% csrf_token %}
                    {% for field in form_msg %}
                        <div class="form-group mt-3">{{field}}</div>
                    {% endfor %}
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section>