{% load static %}
<section id="jobs" class="jobs col-sm-12 col-md-12">
    <div class="container">
        <div class="section-title">
            <h2>Recent jobs</h2>
            <p>We are exited to be named Best hiring Agents. Our patners are also happy to find harworking personnel who have a great impact to their companies. it doesn't go withiout us appreciating people like you.</p>
            <p>There are job opportunities we would like to share. We are recruiting from proffessionals to ordinary personnel. First come, first served. Do not worry if the opportunity is taken. There are still more chances in our websites. Also you can reach us through our contact section.</p>
        </div>

        <div class="row">

           {% for job in jobs %}
                <div class="col-sm-12 col-lg-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <a href="{% url 'jobs:job-detail' job.slug %}">
                            <div class="icon_wrapper">
                                <div class="icon">
                                    <img src=" {% static 'main/img/clients/client-5.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <button disabled="" class="btn btn-sm btn-info">
                                <i class="me-2 bx bx-time"></i>Full time/Part time
                            </button>
                        </a> 
                        <h4><a href="{% url 'jobs:job-detail' job.slug %}">{{job.title}}</h4></a>
                        <p>{{job.location}}</p>
                        <div class="d-flex">
                            <i class="me-2 fs-4 bx bx-money"></i> <p>{{job.salary}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-12 col-lg-12 d-flex justify-content-center py-4">
                 <a href="{% url 'jobs:job-posts' %}" class="get-started-btn">View More</a>
            </div>
            

            
        </div>
    </div>
</section>