{% extends "base.html" %}
{% load static %}
{% block title %}
   {% if not request.user.first_name %}{{request.user.email}}
   {% else %}{{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}     
   | Innovet Employee Dashboard
{% endblock title %}
{% block style %}
.contact {
	display: inherit;
	flex-direction: inherit;
	align-items: center;
}
{% endblock style %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/dashboard.css' %}">{% endblock stylesheet %}
{% block content %}
<div class="user_dashboard">
    {% include 'profiles/profile.header.html' %}
    {% include 'profiles/profile.aside.html' %}
     <main id="main" class="main">
        {% include 'profiles/navigation.html' with employee=True %}
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card p-4">
                    <div class="text-center">
                        <h5 class="card-title">Update application</h5>
                        <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                    </div>
                    <div class="contact">
                        <form class="custom-form col-md-6 col-sm-12" method="POST"  enctype="multipart/form-data">
                            <p>Job title <strong>{{object}}</strong></p>
                            <p>Apllied on {{object.applied_on}}</p>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="d-flex flex-column mb-3 col-12">
                                    <label class="">{{field.label}}</label>
                                    {{field}}
                                    <small class="text-primary">{{field.help_text}}</small>
                                    {% if field.error %}<small class="text-primary">{{field.error}}</small>{% endif %}
                                </div>
                            {% endfor %}
                                <div class="text-center col-12">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                        </form>
                        <div class="mt-4">
                            <a href="{% url 'user_urls:employee-profile' user.slug %}" class="btn btn-outline-dark btn-sm px-5" type="button">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock content%}