{% extends "base.html" %}
{% load static %}
{% block title %}
   {% if not request.user.first_name %}Innovest - {{request.user.email}}
   {% else %} Innovet - {{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %} 
   | Innovet Emplyoee Dashboard
{% endblock title %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/dashboard.css' %}">{% endblock stylesheet %}


{% block content %}
<div class="user_dashboard">
    {% include 'profiles/profile.header.html' %}
    {% include 'profiles/profile.aside.html' %}
     <main id="main" class="main">
        {% include 'profiles/navigation.html' with employee=True profile=True  %}
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show  profile-overview  active show" id="profile-overview">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 mb-3">
                                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Profile" class="rounded-circle">
                                                <h2 class="text-capitalize">{{request.user.get_full_name}}</h2>
                                                <div class="social-links mt-2 "style="display: flex;width: 50%;justify-content: space-evenly;">
                                                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-12 mb-3">
                                            <h5 class="card-title">Profile Details</h5>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                                <div class="col-lg-9 col-md-8">{{profile.user.get_full_name|title}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Country</div>
                                                <div class="col-lg-9 col-md-8">Kenya</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Address</div>
                                                <div class="col-lg-9 col-md-8">{{profile.address}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                                <div class="col-lg-9 col-md-8">{{profile.phone}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">{{profile.user.email}}</div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade profile-edit pt-3 contact"  id="profile-edit">
                                <form class="custom-form mb-4" method="post" enctype="multipart/form-data">  
                                    <h5 class="card-title">Profile Edit</h5>  
                                    {% csrf_token %}
                                    {{form.media}}
                                    {% for field in form %}
                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label">{{field.label}}</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{field}}
                                                <span class="text-primary">{{field.help_text}}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</div>
{% endblock content%}