@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: rgb(218, 211, 211);
    background: rgb(0, 0, 0);
    line-height: 1.9;
}


/* BREADCRUMBS */

.breadcrumbs {
    background: #1e1d1d;
}

.breadcrumbs ol li+li::before {
    color: #fff;
}


/* HAEDINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #344767; */
    color: #e4e6ea;
}


/* LINKS */

a {
    color: #ff0606;
    text-decoration: none;
}

a:hover {
    color: #f88383;
    text-decoration: none;
}

.navbar>ul>li>a:before {
    background-color: #ff0606;
}


/* ---------------------------------------------------
# BUTTONS
------------------------------------------------------- */

.btn-learn-more {
    color: #ff0606;
    border: 2px solid #ff0606;
}

.btn-learn-more:hover {
    background: #ff0606;
    color: #fff;
    text-decoration: none;
}


/* Get Startet Button */

.get-started-btn {
    background: #ff0606;
    color: #fff;
    border: 2px solid #ff0606;
}

.get-started-btn:hover {
    background: #ff0606;
    border: 2px solid #ec3535;
    color: #fff;
}

.contact .custom-form button[type="submit"]:not(.bi,
.btn-learn-more) {
    background: #ff0606;
    color: #fff;
}

.contact .custom-form button[type="submit"]:hover:not(.bi) {
    background: #f04e4e;
}

#footer-latest .footer-top .footer-newsletter form {
    background: #f04e4e;
    border: 1px solid #ff0606;
}

#footer-latest .footer-top .footer-newsletter form input[type="email"] {
    /* background: #ff0606; */
    color: white;
}

#footer-latest .footer-top .footer-newsletter form input[type="submit"] {
    background: #ff0606;
    color: #fff;
    transition: 0.3s;
}

#footer-latest .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #f04e4e;
}

#footer-latest .footer-top .footer-links ul i {
    color: #ff0606;
}


/* SECTION TITLE */

.section-title p {
    color: #a6a6a6;
}

.section-title h2::after {
    background: #ff0606;
}


/* ICON BOXS */

.jobs .icon-box {
    background: #000;
    box-shadow: 0px 5px 90px 0px rgba(221, 225, 227, 0.55);
}

.jobs .icon-box h4 a {
    color: #fff;
}

.jobs .icon-box:hover h4 a {
    color: #ff0606;
    /* #009961; */
}

.jobs .icon-box:hover {
    transform: translateY(-10px);
    border-color: #ff0606;
}

.jobs .icon-box .icon {
    background-color: aliceblue;
}


/* CONTACT INFO */

.contact .info h4 {
    color: #fff;
}

.contact .info p {
    color: #786cb3;
}


/* CUSTOM-FORM */

.contact .custom-form input:not(.form-check-input),
.contact .custom-form textarea {
    color: #fff;
    background-color: #050335;
    border: 1px solid #fff;
}


/* SIDE NAV */

.side-nav aside .side-menu li a span {
    color: #e65656fc;
}

.side-nav aside .side-menu li a i {
    color: #ff0101;
}


/* JOB pOSTS */

.job-posts .job-content .salary {
    color: #fff;
}

.job-posts .creator .creator-thumb span {
    color: #fff;
}

.job-posts .job-item:hover {
    box-shadow: 0rem 0rem 2rem #ffffffa1;
}


/* JOB DETAIL */

.job-detail .job_detail_heading .company_thumb img {
    background: #f0f8ff;
}

.job-detail .job_overview {
    box-shadow: 0rem 0rem 0.5rem #ffffffa1;
}


/* AUTHETICATION */

.authentication .contact {
    box-shadow: 0rem 0rem 0.5rem #ffffffa1;
}


/* ABOUT US */

.choose-us .icon-boxes .icon-box {
    box-shadow: 0rem 0rem 0.5rem #ffffffa1;
}