.user_dashboard h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #012970;
}


/* DASHBOARD FORMS */

.user_dashboard .contact .custom-form input:not(.form-check-input),
.contact .custom-form textarea {
    color: #2f2d2d !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
}


/* TAB PANE CHILDREN */

.tab-pane.addjob .custom-form {
    width: 90%;
}

.tab-pane.innovestmessages .message {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tab-pane.innovestmessages .user-msg {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tab-pane.innovestmessages .msg {
    padding-right: 1rem;
    padding-left: 1.5rem;
    width: 100%;
}

@media (max-width: 600px) {
    .tab-pane.innovestmessages .user-msg {
        border-bottom: 1px solid #d7d1d1;
        width: 100%;
    }
    .tab-pane.innovestmessages .card-body {
        padding: 0 !important;
    }
    .tab-pane.innovestmessages .message {
        flex-direction: column;
    }
    .tab-pane.addjob .custom-form {
        width: 100%;
    }
    .addjob .custom-form select,
    .addjob .custom-form input[type="number"] {
        width: 100%;
    }
}


/* ************End of tab pane children**************** */

.user_dashboard a.active {
    color: #012970;
    font-size: 15px;
}

.user_dashboard a.active:hover {
    color: #2c65c7;
}

.user_dashboard .logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .user_dashboard .logo {
        width: 280px;
    }
}

.user_dashboard .logo img {
    max-height: 26px;
    margin-right: 6px;
}

.user_dashboard .logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.user_dashboard .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

.user_dashboard .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}

.user_dashboard .header .search-bar {
    min-width: 360px;
    padding: 0 20px;
}

@media (max-width: 1199px) {
    .user_dashboard .header .search-bar {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    .user_dashboard .header .search-bar-show {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}

.user_dashboard .header .search-form {
    width: 100%;
}

.user_dashboard .header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.user_dashboard .header .search-form input:focus,
.header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

.user_dashboard .header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}

.user_dashboard .header .search-form button i {
    color: #012970;
}

.user_dashboard .header-nav .nav-icon {
    font-size: 20px;
    color: #012970;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.user_dashboard .header-nav ul {
    list-style: none;
}

.user_dashboard .header-nav .nav-profile {
    color: #012970;
}

.user_dashboard .header-nav .nav-profile img {
    max-height: 36px;
}

.ser_dashboard .header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
}

.user_dashboard .header-nav .badge-number {
    position: absolute;
    inset: 4px 6px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
}

.user_dashboard .header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.user_dashboard .header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
}

.user_dashboard .header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.user_dashboard .header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.user_dashboard .header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
}

.user_dashboard .header-nav .messages .message-item {
    padding: 15px 10px;
    transition: 0.3s;
}

.user_dashboard .header-nav .messages .message-item a {
    display: flex;
}

.user_dashboard .header-nav .messages .message-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
}

user_dashboard .header-nav .messages .message-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
}

user_dashboard .header-nav .messages .message-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

user_dashboard .header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
}

user_dashboard .header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
}

user_dashboard .header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
}

user_dashboard .header-nav .profile .dropdown-header span {
    font-size: 14px;
}

user_dashboard .header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

user_dashboard .header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

user_dashboard .header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
}


/*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/

.user_dashboard .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

@media (max-width: 1199px) {
    .user_dashboard .sidebar {
        left: -300px;
    }
}

.user_dashboard .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }
    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.user_dashboard .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user_dashboard .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user_dashboard .sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.user_dashboard .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.user_dashboard .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.user_dashboard .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #4154f1;
}

.user_dashboard .sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
}

.user_dashboard .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.user_dashboard .sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
}

.user_dashboard .sidebar-nav .nav-link:hover i {
    color: #4154f1;
}

.user_dashboard .sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.user_dashboard .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.user_dashboard .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.user_dashboard .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.user_dashboard .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.user_dashboard .sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #4154f1;
}

.user_dashboard .sidebar-nav .nav-content a.active i {
    background-color: #4154f1;
}

#main {
    margin-top: 60px;
    padding: 15px 10px;
    transition: all 0.3s;
}


/* PAGE TITLE */

.user_dashboard .pagetitle {
    margin-bottom: 10px;
}

.user_dashboard .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}

.user_dashboard .pagetitle .breadcrumb-item:not(a) {
    color: #012970;
}


/* Bordered Tabs */

.nav-tabs-bordered {
    border-bottom: 2px solid #afb1b4;
}

.nav-tabs-bordered .nav-link {
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
    color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
}

.profile .profile-overview .card-title {
    color: #012970;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.user_dashboard .header-nav .nav-icon.show {
    transition: all 0.3s ease-in-out;
    background: red;
    border-radius: 10px;
}