:root {
    --accent: #009961;
    --accent-hover: #03df8e;
}

body {
    color: #344767;
    background: #ffffff;
}


/* HAEDINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #344767;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.59));
}


/* BREADCRUMBS */

.breadcrumbs {
    background: #cbcdd03d;
}

.breadcrumbs ol li+li::before {
    color: #0a0a0a;
}


/* LINKS */

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover);
    text-decoration: none;
}

.navbar>ul>li>a:before {
    background-color: var(--accent);
}


/* ---------------------------------------------------
# BUTTONS
------------------------------------------------------- */

.btn-learn-more {
    color: var(--accent);
    border: 2px solid var(--accent);
}

.btn-learn-more:hover {
    background: var(--accent);
    color: #fff;
    text-decoration: none;
}


/* Get Startet Button */

.get-started-btn {
    background: var(--accent);
    color: #fff;
    border: 2px solid var(--accent);
}

.get-started-btn:hover {
    background: var(--accent);
    border: 2px solid #01b401;
    color: #fff;
}

.contact .custom-form button[type="submit"]:not(.bi, .btn-learn-more) {
    background: var(--accent);
    color: #fff;
}

.contact .custom-form button[type="submit"]:hover:not(.bi) {
    background: #02c444;
}

#footer-latest .footer-top .footer-newsletter form {
    background: var(--accent);
    border: 1px solid var(--accent);
}

#footer-latest .footer-top .footer-newsletter form input[type="email"] {
    background: #eef4f2;
    color: black;
}

#footer-latest .footer-top .footer-newsletter form input[type="submit"] {
    background: #5adf0f;
    color: #fff;
    transition: 0.3s;
}

#footer-latest .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #83ea08;
}

#footer-latest .footer-top .footer-links ul i {
    color: var(--accent);
}


/* SECTION TITLE */

.section-title p {
    color: #777777;
}

.section-title h2::after {
    background: var(--accent);
}


/* ICON BOXS */

.jobs .icon-box {
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(221, 225, 227, 0.55);
}

.jobs .icon-box h4 a {
    color: #282828
}

.jobs .icon-box:hover h4 a {
    color: var(--accent);
    /* #009961; */
}

.jobs .icon-box:hover {
    transform: translateY(-10px);
    border-color: var(--accent);
}


/* CONTACT INFO */

.contact .info p {
    color: #777777;
}


/* CUSTOM-FORM */

.contact .custom-form input:not(.form-check-input),
.contact .custom-form textarea {
    color: #000;
    background-color: #fff;
    border: 1px solid #a5a7ac;
}


/* SIDE NAV */

.side-nav aside li.active .main-link {
    background: var(--accent)
}

.side-nav aside .side-menu li a span {
    color: var(--accent);
}

.side-nav aside .side-menu li a i {
    color: var(--accent);
}

.side-nav aside .side-menu li ul span {
    color: var(--accent);
}


/* JOB pOSTS */

.job-posts .creator .creator-thumb span {
    color: #fff;
}

.job-posts .job-item:hover {
    box-shadow: 0rem 0rem 2rem #ffffffa1;
}


/* JOB DETAIL */

.job-detail .job_overview {
    box-shadow: 0rem 0rem 0.5rem #d5d8d9;
}

.job-detail .company_thumb small {
    background-color: var(--accent);
    color: #fff;
}


/* AUTHETICATION */

.authentication .contact {
    box-shadow: 0rem 0rem 0.5rem #d5d8d9;
}


/* ABOUT US */

.choose-us .icon-boxes .icon-box {
    box-shadow: 0rem 0rem 0.5rem #d5d8d9;
}