{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block style %}

{% endblock style %}

{% block content %}
    <main class="authentication ">
        <div class="contact col-lg-6 col-md-8 col-sm-12 col-12  rounded">
            <div class="text-center">
                <a href="/">
                    <img class="mb-1" src="{% static 'main/img/innovest.png' %}" alt="logo" width="200" height="auto">
                </a>
                <nav class="header d-flex justify-content-center mb-4 border-bottom"></nav>
                <h1 class="h3 mb-3 fw-normal text-center">Reset password</h1>
                <p class="small">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password</p>
            </div>
            <form class="custom-form " role="form"  method="post" autocomplete="off">{% csrf_token %}
                {% if form.errors %}
                    <div class="error-message">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class=" form-group">
                        {{ field|as_crispy_field}}
                    </div>
                    <small style="color: grey">{{ field.help_text }}</small>   
                {% endfor %}               
                <div class="text-center">
                    <button class=" btn btn-sm btn-primary mb-2 mt-1" type="submit">Send confirmation link</button>
                    <div class="d-flex flex-column mb-5 pt-2">
                        <a class="small" href="{% url 'user_urls:user_login' %}">Remember password? Login!</a>
                    </div>
                   
                </div>
            </form>
             <nav class="footer  col-sm-12 col-12 mt-3">
                <a class="footer-font">Terms and conditions applies</a>
                <p class="footer-font">&copy; <script>document.write(new Date().getFullYear())</script></p>
                <p class="footer-font">Powered by django</p>
            </nav> 
        </div>
    </main>

{% endblock %}

