{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block style %}
.authentication{
padding: calc(40px - 0vh) 5px 0 20px;

}
{% endblock style %}

{% block content %}
    <main class="authentication">
        <div class="div-center col-lg-9 col-md-12 col-sm-12">
            <div class="text-center">
                <a href="/">
                    <img class="mb-4" src="{% static 'main/img/innovest.png' %}" alt="logo" width="200" height="auto">
                </a>
                <nav class="header"></nav>
                <h1 class="h3 mb-3 fw-normal text-center">What do you want to be?</h1>
            </div>
            <div class="instructions">
                <p class="lead">If you already have an account, go ahead and <a href="{% url 'user_urls:user_login' %}" >Sign in.</a></p> 
                <h5 class="text-gray-900 mb-1"> Looking for job?</h5>
                    <p class="lead">To get a job from our website is easy you can get started by creating a <a href="{% url 'user_urls:register-employee' %}" >employee account</a> though not neccesary. Just select the job you want to apply and fill application form. One of our officials will communicate to you directly. Again, <a class="terms" href="{% url 'user_urls:terms-conditions' %}" >terms and conditions</a> regarding jobs will be adhered to.</p>
            </div>
        </div>
        
    </main>

{% endblock %}   