{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block style %}
.authentication{
padding: calc(40px - 0vh) 5px 0 20px;

}
{% endblock style %}

{% block content %}

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-6 fw-bold">Staff registration process</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Your registration request is received. Thank you</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a  href="/" class="btn btn-primary btn-lg px-4 gap-3">Proceed to site</a>
            </div>
        </div>
  </div>


{% endblock %}   