{% extends "base.html" %}
{% load static %}
{% block title %}
   {% if not request.user.first_name %}{{request.user.email}}
   {% else %}{{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}     
   | Innovet staff Dashboard
{% endblock title %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/dashboard.css' %}">{% endblock stylesheet %}
{% block content %}
<div class="user_dashboard">
    {% include 'profiles/profile.header.html' %}
    {% include 'profiles/profile.aside.html' %}
     <main id="main" class="main">
        {% include 'profiles/navigation.html' with staff=True create="active"%}
        <section class="section profile">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body pt-3">
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#addjob">Add job</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#postedjobs">Posted jobs</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <div class="tab-pane pt-3 contact active show"  id="addjob">
                                    <form class="custom-form" method="POST"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                        {{j_form.media}}
                                        {% for field in j_form %}
                                        <div class="d-flex flex-column mb-3 col-12">
                                            <label class="">{{field.label}}</label>
                                            {{field}}
                                            <small class="text-primary">{{field.help_text}}</small>
                                        </div>
                                        {% endfor %}
                                        
                                        <div class="text-center col-12">
                                            <button type="submit" class="btn btn-primary">Create Job</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane pt-3 applcation"  id="postedjobs">
                                    <div class="card">
                                        <div class="card-body">
                                            {% if job_list %}
                                                <div class="text-center">
                                                    <h5 class="card-title">Jobs posted</h5>
                                                    <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                                                </div>
                                                {% for job in job_list %}
                                                    <div class="col-md-12 mb-3">
                                                        <div class="h-100  bg-light rounded-3 p-3">
                                                            <h4 class="text-dark">{{job.title}}</h4>
                                                            {{job.description|safe}}
                                                            <a href="{% url 'user_urls:job-prev' job.slug %}" class="btn btn-outline-dark btn-sm" type="button">View this job</a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="text-center">
                                                    <h2 class="card-title">There are no jobs posted</h2>
                                                    <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</div>
{% endblock content%}