<div style="font-size: 16px;padding: 30px;line-height: 2.0;display: flex;justify-content: center;color: black !important;">
    <div style="padding:30px;background:aliceblue;Margin:0 auto;max-width:900px;min-width:auto;word-wrap:break-word;word-break:break-word;width:100vw;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <h3 style="">You are receiving this mail as admin</h3> 
        <p>A new job was posted by <strong>{{job.user.get_full_name|title}} at {{job.posted_on}}</strong></p>
        <p style="font-size: 1.2rem;">Job details:</p>
        <ol>
            <li>TITLE: {{job.title}}</li>
            <li>PAYMENT: {{job.salary}}</li>
            <li>LOCATION: {{job.location}}</li>
            <li>REQUIREMENTS:</li>
            <div>{{job.requirements|safe}}</div>
        </ol>
        <p style="background: #00abff;padding: 0 15px;border: none;border-radius: 4px;cursor: pointer;width: max-content;"> 
        <a href="http://{{ job.domain }}{% url 'jobs:job-detail' job.slug %}" style="color: white !important;text-decoration: none;"> Click for more information</a></p>
    </div>
</div>