{% extends "base.html" %}
{% load static %}
{% block title %}
   {% if not request.user.first_name %}{{request.user.email}}
   {% else %}{{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}     
   | Innovet staff Dashboard
{% endblock title %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/dashboard.css' %}">{% endblock stylesheet %}
{% block content %}
<div class="user_dashboard">
    {% include 'profiles/profile.header.html' %}
    {% include 'profiles/profile.aside.html' %}
     <main id="main" class="main">
        {% include 'profiles/navigation.html' with staff=True %}
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3 innovestmessages">
                        {% if mess %}
                            <div class="text-center">
                                <h5 class="card-title">Messages</h5>
                                <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                            </div>
                            {% for msg in mess %}
                                <div class="message my-3 shadow p-3">
                                    <div class="user-msg">
                                        <div class="text-muted text-nowrap">{{msg.names|title}}</div>
                                        <div class="text-muted text-nowrap">{{msg.email}}</div>
                                        <div class="text-muted text-nowrap">{{msg.created_at|date:"D M Y"}}</div>
                                    </div>
                                        <div class="msg flex-shrink-1">
                                            <div class="text-dark">{{msg.inform_us|safe}}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-center">
                                <h5 class="card-title">There are No Messages.</h5>
                                <p class="text-primary">Such messages will be also be forwarded to your email once they are sent.</p>
                            </div>
                        {% endif %}  
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock content%}