{% extends "base.html" %}
{% load static %}
{% block title %}
   {% if not request.user.first_name %}{{request.user.email}}
   {% else %}{{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}     
   | Innovet staff Dashboard
{% endblock title %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/dashboard.css' %}">{% endblock stylesheet %}
{% block content %}
<div class="user_dashboard">
    {% include 'profiles/profile.header.html' %}
    {% include 'profiles/profile.aside.html' %}
     <main id="main" class="main">
        {% include 'profiles/navigation.html' with staff=True %}
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        {% if staffs %}
                            <div class="text-center">
                                <h5 class="card-title">Your Team</h5>
                                <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                            </div>
                            {% for staff in staffs %}
                                <div class="list-group mb-3">
                                    <div class="list-group-item list-group-item-action">
                                        <h6 class="mb-1">{{staff.get_full_name|title}}</h6>
                                        <span>Phone: <p class="mb-1 ms-3">{{staff.staff_profile.phone|default:"N/A"}}</p></span>
                                        <span>Address: <p class="mb-1 ms-3">{{staff.staff_profile.address|default:"N/A"}}</p></span>
                                        <span>Date registered: <p class="mb-1 ms-3">{{staff.staff_profile.created_at}}</p></span>
                                        <span>Gender: <p class="mb-1 ms-3">{{staff.staff_profile.get_gender_display}}</p></span>
                                    </div>
                                </div>
                            {% endfor %}
                            
                        {% else %}
                            <div class="text-center">
                                <h5 class="card-title">There are registered applicants.</h5>
                                <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock content%}