{% extends "base.html" %}
{% load static %}
{% block title %}
   {% if not request.user.first_name %}{{request.user.email}}
   {% else %}{{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}     
   | Innovet staff Dashboard
{% endblock title %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/dashboard.css' %}">{% endblock stylesheet %}
{% block content %}
<div class="user_dashboard">
    {% include 'profiles/profile.header.html' %}
    {% include 'profiles/profile.aside.html' %}
     <main id="main" class="main">
        {% include 'profiles/navigation.html' with staff=True %}
        <section class="section profile">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active">Applications</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            {% if applications %}
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="card-title">Applications</h5>
                                        <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                                    </div>
                                    {% for application in applications %}
                                        <div class="list-group mb-3">
                                            <div class="list-group-item list-group-item-action">
                                                <h6 class="mb-1">{{application.user.get_full_name|title}}
                                                    <a href="tel:{{application.phone}}" class="ms-3 fs-sm">{{application.phone}}</a>
                                                </h6>
                                                <span>Job title: <p class="mb-1 ms-3">{{application.job.title}}</p></span>
                                                <span>Age: <p class="mb-1 ms-3">{{application.age}} years</p></span>
                                                <span>Date applied: <p class="mb-1 ms-3">{{application.applied_on|date:'D M Y'}}</p></span>
                                                {% if application.terms %}
                                                <span class="text-success">This applicant accepted terms and condition</p></span>
                                                {% else %}
                                                <span class="text-warning">This applicant did not accepted terms and condition</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <h5 class="card-title">There are no applcations yet.</h5>
                                    <p>Add lightweight datatables to your project with using the <a href="#">Simple DataTables</a> library. Just add class name to any table you wish to conver to a datatable</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock content%}