{% load static %}


<header id='header' class="fixed-top custom__header">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-lg-between header__cont">
            <a href="/" class="logo me-auto me-lg-0"><img src="{% static 'main/img/innovest.png'%}" alt="logo"></a>
                <nav id="navbar" class="navbar order-last animated">
                    {% if home %}
                        <ul>
                            <li><a class="main_links scrollto active" href="#hero">Home</a></li>
                            <li><a class="main_links scrollto" href="#about">About</a></li>
                            <li><a class="main_links scrollto" href="#jobs">Jobs</a></li>
                            <li><a class="main_links scrollto " href="#contact">Ask</a></li>
                        </ul>
                    {% endif %} 

                    <ul>
                        {% if not home %}<li><a class="main_links" href="/">Home</a></li>{% endif %}
                        <form id="change-themee"class="d-flex form-check form-switch">
                            <input type="checkbox" name="terms" class=" form-check-input ms-0" required="" id="id_terms">
                        </form>
                        <li  class="main_links btn btn-success btn-sm my-1 text-white"><a href="{% url 'user_urls:sign-up' %}">Sign up</a></li>
                        <div class="user__actions">
                            {% if request.user.is_authenticated%}
                                <span class="link pic">
                                    <text>{{request.user.get_innitials}}</text> 
                                </span> 
                            {% else %}
                                <li id="login__btn" class="main_links btn btn-light btn-sm my-1 ">Sign in</li>
                            {% endif %}
                            <div class="action__wrapper animated  innactive fadeOutUp"><!--fadeOutUp-->
                                <div class="actions col-sm-12 border border-1 shadow-lg rounded">
                                    {% if request.user.is_authenticated%}
                                        <span class="pic shadow-lg">
                                            <text>{{request.user.get_innitials}}</text>
                                        </span>
                                        <span class="text-dark">
                                            {% if request.user.get_full_name == 'Update personal info' %}
                                                <strong class="text-danger">{{request.user.get_full_name}}</strong>
                                            {% else %}
                                                <strong>{{request.user.get_full_name}}</strong>
                                            {% endif %}
                                        </span>
                                        <span class="text-muted">{{request.user.email}}</span>
                                        {% if request.user.is_admin %}
                                            <a href="{% url 'admin:index'%}" class="my-1 text-success">Administator pannel</a> 
                                        {% endif %}
                                        <hr/> 
                                    {% endif %}

                                    {% if request.user.is_authenticated and request.user.is_employee%}
                                        <div class="menu_item mb-3 active">
                                            <span class="sub-view">
                                                Dashboard <i class="bx bxs-chevron-right ms-3 fs-4 "></i>
                                            </span>
                                            <div class="d-flex justify-content-start flex-column menu_link">
                                                <a href="{% url 'user_urls:employee-profile' request.user.slug %}">
                                                <i class="bi-person-circle fs-6 me-2 mb-3 "></i> Profile
                                                </a>

                                                <a href="{% url 'user_urls:my-app' %}"><i class="bi-newspaper fs-6 me-2 mb-3 "></i>My applications</a>

                                                <a href="{% url 'user_urls:reset-password' %}"><i class="bi-tools fs-6 me-2 mb-3 "></i>Reset password</a>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if request.user.is_authenticated and request.user.is_staff%}
                                        <div class="menu_item mb-3 active">
                                            <span class="sub-view">
                                                Administator <i class="bx bxs-chevron-right ms-3 fs-4 "></i>
                                            </span>
                                            <div class="d-flex justify-content-start flex-column menu_link">
                                                <a href="{% url 'user_urls:staff-profile' request.user.slug%}">
                                                    <i class="bi-person-circle fs-6 me-2 mb-3 "></i>
                                                    Profile
                                                </a>
                                                <a href="{% url 'user_urls:staff-create'%}">
                                                    <i class="bi-pencil-square fs-6 me-2 mb-3 "></i>
                                                    Post job
                                                </a>
                                                <a href="{% url 'user_urls:all-apps'%}">
                                                    <i class="bi-newspaper fs-6 me-2 mb-3 "></i>
                                                    View applications
                                                </a>
                                                <a href="{% url 'user_urls:reset-password' %}">
                                                    <i class="bi-tools fs-6 me-2 mb-3 "></i>
                                                    Reset password
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div id="home" class="menu_item mb-3 active">
                                        <span class="sub-view">
                                            Home <i class="bx bxs-chevron-right ms-3 fs-4 "></i>
                                        </span>
                                        <div class="d-flex justify-content-start flex-column menu_link">
                                        
                                        </div>
                                    </div>

                                    <div id="authetication" class="menu_item mb-3 active">
                                        <span class="sub-view">
                                            Authetication <i class="bx bxs-chevron-right ms-4 fs-4 "></i>
                                        </span>
                                        <div class="d-flex justify-content-start flex-column menu_link">
                                            {% if request.user.is_authenticated%}
                                                <a href="{% url 'user_urls:logout'%}" class="btn btn-outline-warning btn-sm my-3">Logout</a>
                                            {% else %}
                                                <a id="login__btn" class="btn get-started-btn mt-3">Login</a>
                                            {% endif %}
                                                <a class="btn get-started-btn mt-3" href="{% url 'user_urls:sign-up' %}">New user</a>
                                        </div>
                                    </div> 

                                    <hr class="mt-3">

                                    <div class="auth flex-column">
                                        {% if request.user.is_authenticated%}
                                            <a href="{% url 'user_urls:logout'%}" class="btn btn-warning btn-sm my-1">Logout</a>
                                        {% else %}
                                            <a id="login__btn"  class="btn btn-outline-success btn-sm my-1">Login</a>
                                        {% endif %}
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                    
                   <i class="bi mobile-nav-toggle text-success bi-grid-3x3-gap-fill"></i>
                </nav>
            </div>
        </div>
    </div>
</header>
{% include 'snippets/modals.html' %}
