{% if home %}
<div class="side-nav">
    <aside>

        <ul class="side-menu">
            <li class="nav-item">
                <a class="main-link" href="#">
                    <i class="bx bxs-dashboard"></i>
                    <span>Dashboard</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="main-link" href="#">
                    <i class="bx bxs-inbox"></i>
                    <span>Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="main-link" href="#">
                    <i class="bx bxs-copy"></i>
                    <span>Pages</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">BoxIcons</a></li>
                    <li><a href="#">Fontawesome</a></li>
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">MD Bootstrap</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</div>


<div class="sidebar">
    <div class="sidebar-wrapper">
        <a href="" class="navlink"><i class="bi bi-grid-3x3-gap-fill"></i>Nav link</a>
        <a href="" class="navlink"><i class="bi bi-grid-3x3-gap-fill"></i>Nav link</a>

    </div>
</div>
{% endif %} {% if dashboard %}
<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="d-flex flex-column p-3">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'user_urls:dashboard' request.user.username %}" class="nav-link navlink {{dashboard}}" aria-current="page">
                        <i class="me-2 bi bi-grid-3x3-gap-fill"></i> {% if request.user.first_name %} {{request.user.get_full_name}} {% else %} {{ request.user.email}} {% endif %}
                    </a>
                </li>
                <hr/>
                <h4 style="padding: 5px 40px 0px;">Marketing</h4>
                <li class="nav-item">
                    <a href="{% url 'affiliate:overview' request.user.username %}" class="nav-link navlink {{overview}}" aria-current="page">
                        <i class="me-2 bi bi-grid-3x3-gap-fill"></i>Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'affiliate:edit-product' %}" class="nav-link navlink {{editproduct}}" aria-current="page">
                        <i class="me-2 bi bi-grid-3x3-gap-fill"></i>edit_product remove
                    </a>
                </li>
                <li>
                    <a href="{% url 'affiliate:order-summary'%}" class="nav-link navlink {{order}}">
                        <i class="bi me-2 bi-grid-3x3-gap-fill"></i>My Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'affiliate:product-view' %}" class="nav-link navlink {{productview}}" aria-current="page">
                        <i class="me-2 bi bi-grid-3x3-gap-fill"></i>Product view
                    </a>
                </li>
                <hr/>
                <li>
                    <a href="{% url 'user_urls:edit_profile' request.user.username %}" class="nav-link navlink {{personal}}">
                        <i class="bi me-2 bi-grid-3x3-gap-fill"></i>Personal info
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endif %}