{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block meta-content %}
    Innovest finds you the best jobs in the world. You don't have to have innitail skills.
    We can also sell your skills, such Business consoltancy and travelling agents, Technology skills and much more. 
    {% endblock meta-content %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Innovest | Sell Buy Employ {% endblock title %}</title>
    {% block headscript %}{% endblock headscript %}
    <script src="{% static 'jquery.min.js' %}"></script> 
    <script src="{% static 'global.js' %}"></script>
   <link href="{% static 'main/img/favicon.ico' %}" rel="icon">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    {% if dark_theme %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/light.css' %}">
    {% endif %}

   
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/light.css' %}">


    {% block stylesheet %}{% endblock stylesheet %}
    <style>{% block style %}{% endblock style %}</style> 
</head>
<body>
    <div id="notification" class="col-xs-11 col-sm-4"></div>
    {% block content %}{% endblock content%}
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
{% include 'snippets/js.html'%}
<script>

      var swiper = new Swiper(".swiper", {
        speed: 600,
        parallax: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

</script>
{% block javaScript %}
<script>
if(fn.select('#local-products')){
    sync.productListApi(fn.select('#local-products').getAttribute('data-keurl'))
}

</script>

{% endblock javaScript %}
</html>