{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load crispy_forms_filters %} 
{% load crispy_forms_field %} 
{% load crispy_forms_utils %} 

{% block title %} 
    {% if user.is_authenticated %} 
        {% if not request.user.first_name %}
            Innovest - {{request.user.email}} 
        {% else %}
             Innovet - {{ request.user.first_name }} {{ request.user.second_name }} 
        {% endif %} 
    {% else %} 
        Innovet - Register 
    {% endif %}
    | Innovet Dashboard 
{% endblock title %} 
{% block style %} 
{% endblock style %} 

{% block content %} 

{% include 'snippets/header.html' with dashboard='True' %}

<main id="job_detail">
    <section id="cta" class="job-cta cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Call To Action</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="breadcrumbs" class="breadcrumbs col-sm-12 col-md-11 col-lg-9">
        <div class="container section-title">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href=" {% url 'jobs:job-posts' %}">Jobs & Vaccancies</a></li>
            </ol>
            <h3 class="text-uppercase text-center text-white py-3 h5">{{object.title}}</h3>
        </div>
    </section>

    <section class="job-detail col-sm-12 col-md-12 col-lg-12">
        <div class="container">

            <div class="row my-4">
                <div class="col-sm-12 col-lg-8">
                    <div class="job_detail_heading d-flex">
                        <div class="company_thumb"> 
                            <img class="img-fluid" src=" {% static 'main/img/clients/client-2.png ' %}" alt="company_thumb">
                            <small class="grad-bg-faded-danger text-white rounded text-center">Jobs comming soon</small> 
                        </div>
                        <div class="job_description">
                            <ul class="job_meta">
                                <li><i class="bi-geo-alt-fill text-success me-2"></i>{{object.location}}</li>
                                <li><small  class="grad-bg-info text-white px-3 pt-2 pb-1 rounded">Full time</small></li>
                            </ul>
                            <ul class="job_meta">
                                <li><i class="bi-file-text-fill text-success me-2"></i> Applications 1</li>
                                <li><i class="bi-calendar2-week-fill text-success me-2"></i> Post Date: {{object.posted_on|date:"D d M Y"}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="job_overview col-lg-4 col-sm-12 ">
                    <h3 class="text-uppercase text-center text-white py-3 h5">job overview</h3>
                    <ul>
                        <li><small><i class="bi-cash-stack fs-5 me-2 text-success"></i>Offerd Salary</small> <span>{{object.salary}}</span></li>
                        <li><small><i class="bi-person-fill me-2 fs-5 text-success"></i>Gender</small>   <span>{{object.get_gender_display}}</span></li>
                        <li><small><i class="bi-people-fill me-2 fs-5 text-success"></i>Job positions</small>   <span>{{object.positions}} applicants required</span></li>
                    </ul>
            
                </div>
            </div>
        </div>
    </section>

    <section class="job-detail col-sm-12 col-md-12 col-lg-12">
        <div class="container">
            <!-- for templates
            <span><i class="bi-check-circle-fill me-3 text-success"></i>   Some form,t the my have suffered alteration in some form,andomised words</span>
            <span><i class="bi-check-circle-fill me-3 text-success"></i>   believable.available, but the majority have sufferederation in some</span>
            <span><i class="bi-check-circle-fill me-3 text-success"></i>   There are many variations of passages of Lorem Ipsum available, but</span>
            <span><i class="bi-check-circle-fill me-3 text-success"></i>   Some form,t the my have suffered alteration in some form,andomised words</span>
            <span><i class="bi-check-circle-fill me-3 text-success"></i>   believable.available, but the majority have sufferederation in some</span>
            <span><i class="bi-check-circle-fill me-3 text-success"></i>   There are many variations of passages of Lorem Ipsum available, but</span>
            -->
            <div class="row my-4">
                
                <div class="col-sm-12 col-lg-8">
                    <div class="text-uppercase text-white py-3 h5"><span>job description</span></div>
                    {{object.description|safe}}
                    <div class="text-uppercase text-white py-3 h5"><span>experience</span></div>
                    {{object.experience|safe}}
                    <div class="text-uppercase text-white py-3 h5"><span>Requirements</span></div>
                    {{object.requirements|safe}}
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="card card-body">    <!--and request.user.is_employee -->
                        {% if request.user.is_authenticated and request.user.is_employee %}
                            <div class="contact shadow p-4">
                                {% if not applied %}
                                    <h3 class="text-uppercase text-white py-3 h5 text-center">Apply this job</h3>
                                    <form class="custom-form pb-4" method="post">
                                        {% csrf_token %}
                                        <div class="col-md-12 form-group">
                                            <span class="text-dark">Your email: <strong>{{request.user.email}}</strong> </span>
                                        </div>
                                        <div class="col-md-12 form-group mt-2">
                                        <span class="text-dark"> Job Title: <strong>{{object.title}}</strong> </span>
                                        </div>
                                        <div class="col-md-12 form-group mt-4">
                                                <label>{{form.phone.label}} ({{form.phone.help_text}})</label>
                                                {{form.phone}}
                                        </div>
                                        <div class="col-md-12 form-group mt-4">
                                                <label>{{form.age.label}} ({{form.age.help_text}})</label>
                                                {{form.age}}
                                        </div>
                                        <div class="mt-4 col-sm-12 form-check form-switch ps-0">
                                            {{form.terms}}
                                                <label><a href="{% url 'user_urls:terms-conditions' %}">{{form.terms.help_text}}</a></label>
                                        </div>
                                        <div class="mt-5 col-sm-12 text-center">
                                            <button class="btn-learn-more" type="submit">Apply</button>
                                        </div>
                                        
                                    </form>
                                {% else %}
                                     <div class="contact d-flex flex-column align-items-center">
                                        <h3 class="h5 mb-5">Selection in progress.</h3> 
                                        <a href="{% url 'jobs:job-posts' %} " class="btn-learn-more">Apply more jobs</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="contact p-5">
                                <h3 class=" h5 d-flex justify-content-center">
                                    <a href="{% url 'user_urls:register-employee' %} " class="btn-learn-more">Apply this job?</a>
                                </h3>
                            </div>
                            
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>
        
   
    </main>
{% include 'snippets/footer.html' with dashboard='True' %}
{% endblock content%} {% block javaScript %} {% endblock javaScript %}