{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load crispy_forms_utils %}
{% block title %}
 {% if user.is_authenticated %}
   {% if not request.user.first_name %}Innovest - {{request.user.email}}
   {% else %} Innovet - {{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}      
{% else %}
    Innovet - Register
{% endif %}
   | Innovet Dashboard
{% endblock title %}
{% block style %}


{% endblock style %}

{% block content %}

  {% include 'snippets/header.html' with dashboard='True' %} 
   
    <section id="job-cta" class="job-cta cta">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Call To Action</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section>

<main id="jobs">

    <section id="breadcrumbs" class="breadcrumbs col-sm-12 col-md-11 col-lg-9">
        <div class="container section-title">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Jobs & Vaccancies</li>
            </ol>
            <h2>Jobs & Vaccancies</h2>
        </div>
    </section>

    <section id="job-posts" class="job-posts col-sm-12 col-md-12 py-4">
        <div class="jobs__container row">
            <div class="row col-lg-3 col-md-12 mb-md-3">
                <div class="side-nav">
                    <aside>
                        <ul class="side-menu">
                            {% if request.user.is_authenticated and request.user.is_employee %}
                                <li class="nav-item">
                                    <a class="main-link">
                                        <div>
                                            <i class="bx bxs-dashboard"></i>
                                            <span>My applications</span>
                                        </div>
                                        <i class="bx bxs-chevron-right"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        {% for job in applied %} 
                                        <li>
                                            <a href="{% url 'jobs:job-detail' job.job.slug %}">
                                                {{job.job.title|title}} 
                                                <small class="text-primary">{{job.applied_on|date:"D d M Y"}}</small> 
                                            </a> 
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                    <a class="main-link">
                                        <div>
                                            <i class="bi-question-octagon-fill"></i>
                                            <span>Frequently asked questions</span>
                                        </div>
                                        <i class="bx bxs-chevron-right"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <span class=" mb-2 border-bottom">Can i apply for specific jobs?</span>
                                            <p>Yes, you can apply for specific jobs as much as you have qualifications.</p>
                                        </li>

                                        <li>
                                            <span class=" mb-2 border-bottom">How safe are abroad jobs?</span>
                                            <p>That is the most confusing question but we will clarify something.</p>
                                            <p>Most people do not understand that they are supposed to find outside country
                                            jobs through a lincesed organaisation. if someone tells you there is a job and he/she is not a lincesed by the government, do not take that bait.</p>
                                            <p>For example our company is operating under lincese, and our clients will always have a written 
                                            agreement with any employee. Also they are lincesed by their government. Those are vital things you should observe first.</p>
                                        </li>
                                        <div>
                                            <a href="{% url 'innovesthome:ask-question' %} " class="btn-learn-more">Ask any question</a>
                                        </div> 
                                        
                                    </ul>
                                </li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                {% for job in notapplied %} 
                    <div class="col-lg-12  mb-3">
                        <div class="job-item">
                            <a class="job_img" href="{% url 'jobs:job-detail' job.slug %}">
                                <img src="{% static 'main/img/features.jpg' %}" class="img-fluid" alt="job_thumb">
                            </a>
                            <div class="job-content">
                                <div class="short__description">
                                    <h5><a href="{% url 'jobs:job-detail' job.slug %}">{{job.title|title}}</a></h5>
                                    <p class="salary">{{job.salary}}</p>
                                </div>
                                <p>{{job.description|safe|truncatewords:'60'}}</p>
                                <div class="creator d-flex justify-content-end align-items-center">
                                    <div class="creator-thumb d-flex align-items-center">
                                        <img src="{% static 'main/img/features.jpg' %}" class="img-fluid" alt="">
                                        <span>{{job.user.get_full_name|title}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>


{% include 'snippets/footer.html' with length='' %} 
</main>
{% endblock content%}
{% block javaScript %}
  
{% endblock javaScript %}