<div class="pagetitle">
    {% if staff %}<h1>Administator account</h1>{% else %}<h1> {{request.user.get_full_name|title}} </h1>{% endif %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'innovesthome:innovest-home' %}">Home</a>
            </li>
            {% if staff %}
                <li class="breadcrumb-item">
                    <a class="{{profile}}" href="{% url 'user_urls:staff-profile' request.user.slug%}">Profile</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="{{create}}" href="{% url 'user_urls:staff-create' %}">Create Job</a>
                </li>
            {% endif %}

            {% if employee %}
                <li class="breadcrumb-item"><a href="{% url 'jobs:job-posts' %}">More jobs</a></li>
                {% if apps %}
                    <li class="breadcrumb-item"><a href="{% url 'user_urls:employee-profile' user.slug %}">Profile</a></li>
                    <li class="breadcrumb-item">My applications</li>
                {% endif %}

                {% if profile %} 
                <li class="breadcrumb-item">Profile</li>
                <li class="breadcrumb-item"><a href="{% url 'user_urls:my-app' %}">Your applications</a></li>
                   
                {% endif %}
                
            {% endif %}
        </ol>
    </nav>
</div>