{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load crispy_forms_utils %}
{% block title %}
 {% if user.is_authenticated %}
   {% if not request.user.first_name %}Innovest - {{request.user.email}}
   {% else %} Innovet - {{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}      
{% else %}
    Innovet - Register
{% endif %}
   | Innovet Dashboard
{% endblock title %}
{% block style %}
body {
	background-color: #f8f9fa !important;
}
{% endblock style %}

{% block content %}
    {% include 'snippets/header.html' with dashboard='True' %} 
    {% include 'snippets/sidebar.html' with dashboard='True' dashboard='active' %}
    <main id="main" class="dashboard h-100 bg-gray-100 pt-4">  

        <section id="dashboard__page" class="col-sm-12 col-md-12 col-lg-10">            
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 mb-lg-0">
                        <div class="py-5">
                            <h1>General statistics</h1>
                            <p class="lead" >You are viewing the whole statistics with administrator privilages.</p>
                            <p>Inform other admins if you intend to alter the current state of DBs or any other relevant information.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 position-relative z-index-2">
                        <div class="card mb-5" id="profile">
                            <div class="card-header pb-0 p-">
                                <div class="d-flex justify-content-between">
                                    <h6 class="">All users</h6>
                                    <h6 class=" grad-bg-success p-3 rounded text-white">
                                        <i class="bi-person-lines-fill"></i>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="tables" class="table table-hover">
                                    <tbody id="online" data-url="{% url 'user_urls:serial-logs'%}"></tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 position-relative z-index-2">
                        <div class="card card-body mb-5">
                           
                        </div>
                    </div>
                </div>
                
                <div class="row contact">
                    <div class="contact col-sm-12 col-md-12 col-lg-6 position-relative z-index-2">
                        <div class="card">
                             <div class="card">
                            <div class="card-body p-3">
                                <div class="chart-container">
                                    <div class="chart-table"> 
                                        <table class="table align-items-center mb-0">
                                            <tbody>
                                                <tr><td>
                                                    <div class="d-flex px-2 py-0">
                                                    <span class="badge grad-bg-primary me-3"> </span>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="admin mb-0 text-sm">Admin</h6>
                                                    </div>
                                                    </div>
                                                </td></tr>
                                                <tr> <td>
                                                    <div class="d-flex px-2 py-0">
                                                    <span class="badge grad-bg-success me-3"> </span>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="staff mb-0 text-sm">Staff</h6>
                                                    </div>
                                                    </div>
                                                </td></tr>
                                                <tr><td>
                                                    <div class="d-flex px-2 py-0">
                                                    <span class="badge grad-bg-info me-3"> </span>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="active mb-0 text-sm">Active</h6>
                                                    </div>
                                                    </div>
                                                </td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="pie__chart" class="chart mt-4">
                                        <canvas id="users__pie" data-url="{% url 'user_urls:chart-data' %}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div> 

                    <div class="col-sm-12 col-md-12 col-lg-6 position-relative z-index-2">
                        <div class="card card-body position-sticky my-3 navigate__side">
                                <ul class="nav flex-column bg-white border-radius-lg p-3">
                                    <li class="nav-item mb-1 py-2 ps-2 rounded">
                                        <i class="grad-bg-primary bi-slack me-2 p-1 text-white rounded"></i>
                                        <span class="text-sm">Profile</span>
                                    </li>
                                    <li class="nav-item mb-1 py-2 ps-2 rounded">
                                        <i class="grad-bg-success bi-diagram-3-fill me-2 p-1 text-white rounded"></i>
                                        <span class="text-sm">Team</span>
                                    </li>
                                    <li class="nav-item mb-1 py-2 ps-2 rounded">
                                        <i class="grad-bg-info bi-cpu-fill me-2 p-1 text-white rounded"></i>
                                        <span class="text-sm">Projects</span>
                                    </li>
                                    <li class="nav-item mb-1 py-2 ps-2 rounded">
                                        <i class="grad-bg-danger  bi-envelope-fill me-2 p-1 text-white rounded"></i>
                                        <span class="text-sm">Notifications</span>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                </div>
            </div>
        </section>


    </main>
{% endblock content%}
{% block javaScript %}
<script>sync.socket(false, '{{request.user.username}}');</script>
{% endblock javaScript %}
