{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
 {% if user.is_authenticated %}
   {% if not request.user.first_name %}Innovest - {{request.user.email}}
   {% else %} Innovet - {{ request.user.first_name }} {{ request.user.second_name }}
   {% endif %}      
{% else %}
    Innovet - Register
{% endif %}
   | Innovet Dashboard
{% endblock title %}
{% block style %}
body {background-color: #f8f9fa !important;}
{% endblock style %}
{% block content %}
{% include 'snippets/header.html' with dashboard='True' %} 
{% include 'snippets/sidebar.html' with dashboard='True' personal='active' %}
<main id="profile__view" class="dashboard h-100 bg-gray-100 pt-4">  
    <section id="" class="col-sm-12 col-md-12 col-lg-10">            
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 mb-lg-0">
                    <div class="py-5 text-center">
                    <h2>{{request.user.get_full_name}}</h2>
                    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
                </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 position-relative z-index-2">
                    <div class="card card-body mb-5" id="profile">
                        <div class="row justify-content-center align-items-center profile__header">
                            <div class="col-sm-auto col-4">
                                <div class="user__actions">
                                    <span class="link pic">
                                        <text>{{request.user.get_innitials}}</text>
                                    </span>
                                </div>
                            </div> 
                            {% comment %} 
                                <div class="avatar avatar-xl position-relative">
                                <img src="../../../assets/img/bruce-mars.jpg" alt="bruce" class="w-100 border-radius-lg shadow-sm">
                                </div>
                            {% endcomment %}
                        <div class="col-sm-auto col-8 my-auto">
                            <div class="h-100">
                                <h5 class="mb-1 font-weight-bolder">{{request.user.get_full_name}}</h5>
                                <p class="mb-0 font-weight-bold">CEO / Co-Founder</p>
                            </div>
                        </div>
                        <div class="col-sm-auto ms-sm-auto mt-sm-0 mt-3 d-flex">
                            <label class="form-check-label mb-0">
                            <small id="profileVisibility">Switch to invisible</small>
                            </label>
                            <div class="form-check form-switch ms-2">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault23" checked="" onchange="visible()">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row contact">
                <div class="contact col-sm-12 col-md-12 col-lg-8 position-relative z-index-2">
                    <div class="card">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-2"><small class="text-muted">Administrator</small></h6>
                                <h6 class="grad-bg-faded-success-vertical p-3 rounded text-white">
                                    <i class="bi-pencil-square"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="php-email-form new_profile__form" id="profile__form" action="{% url 'user_urls:edit_profile' request.user.username %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="first_name" class="form-label">First name</label>
                                    <input class="form-control" name="first_name" type="text" id="first_name" value="{{profile.user.first_name|default:''}}" >
                                    <div class="invalid-feedback first_name"></div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="second_name" class="form-label">Last name</label>
                                    <input class="form-control" name="second_name" type="text" id="second_name" value="{{profile.user.second_name|default:''}}">
                                    <div class="invalid-feedback second_name"></div>
                                </div>
                            
                                    <div class="col-sm-6">
                                        <label for="email" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">@</span>
                                            <input class="form-control" name="email" disabled="" id="email" value="{{profile.user.email|default:''}}">
                                            <div class="invalid-feedback email"></div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="username" class="form-label"> <span class="text-muted">(Relogin required)</span></label>
                                        <input class="form-control" name="username" type="text" id="username" value="{{profile.user.username|default:''}}">
                                        <div class="invalid-feedback username"></div>
                                    </div>
                                

                                <div class="col-12">
                                    <label for="city" class="form-label">City</label>
                                    <input class="form-control" name="city" type="text" id="city" value="{{profile.city|default:''}}" >
                                    <div class="invalid-feedback city"></div>
                                </div>

                                    <div class="col-sm-6">
                                        <label for="phone" class="form-label">Phone</label>
                                        <input class="form-control" name="phone" id="phone" value="{{profile.phone|default:''}}" >
                                        <div class="invalid-feedback phone"></div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="state" class="form-label">State</label>
                                        <select name="gender" class="form-select mb-0" id="gender">
                                            {% for key, value in profile.GENDER %}
                                                <option value="{{key}}"{% if profile.gender == key %}selected{% endif %}>{{value}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback gender"></div>
                                    </div>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div> 

                <div class="col-sm-12 col-md-12 col-lg-4 position-relative z-index-2">
                   <div class="card position-sticky top-1 navigate__side">
                        <ul class="nav flex-column bg-white border-radius-lg p-3">
                            <li class="nav-item mb-1 py-2 ps-2 rounded">
                                <i class="grad-bg-primary bi-slack me-2 p-1 text-white rounded"></i>
                                <span class="text-sm">Profile</span>
                            </li>
                            <li class="nav-item mb-1 py-2 ps-2 rounded">
                                <i class="grad-bg-success bi-diagram-3-fill me-2 p-1 text-white rounded"></i>
                                <span class="text-sm">Team</span>
                            </li>
                            <li class="nav-item mb-1 py-2 ps-2 rounded">
                                <i class="grad-bg-info bi-cpu-fill me-2 p-1 text-white rounded"></i>
                                <span class="text-sm">Projects</span>
                            </li>
                            <li class="nav-item mb-1 py-2 ps-2 rounded">
                                <i class="grad-bg-danger  bi-envelope-fill me-2 p-1 text-white rounded"></i>
                                <span class="text-sm">Notifications</span>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </section>
</main>
<script>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        let field = '{{field.name}}'
            fn.select(`.invalid-feedback.${field}`).innerHTML='{{ error|escape}}';
        {% endfor %}
    {% endfor %}
{% endif %}
</script>
{% endblock %}
